body {
    font-family: "Bahnschrift", Arial, Helvetica, sans-serif;
    color: #FCFCFC;
    background-color: #DDDDDD;
    display: flex;
}

h1,
h2,
h3 {
    font-family: "Bahnschrift", Arial, Helvetica, sans-serif;
    color: #FCFCFC;
    font-weight: bold;
}

h1 {
  font-size: 45px;
}

h2 {
  font-size: 35px;
}

.img {
  width: 100%
}

.active {
    background-color: #984118;
    color: #FFFFFF;
}

#landingpageVideo {
    display: flex;
    position: fixed;
    right: 0;
    width: 100%;
    min-width: 50%;
    min-height: 50%;
    z-index: -1;
    opacity: 97%;
  }

.sidenav {
    height: 100%; 
    width: 220px; 
    position: fixed; 
    z-index: 1; 
    top: 0; 
    left: 0;
    background-color: #3C3C3C; 
    display: flex;
    flex-direction: column;
  }
  .sidenav-extra {
   margin-top: auto;
   margin-bottom: 70px;
  }

  .sidenav a {
    display: flex;
    margin-top: 30px;
    padding-left: 40px;
    text-decoration: none;
    text-align: left;
    font-size: 25px;
    font-weight: bold;
    color: #FCFCFC;
    display: block;
    box-align: center;
  }

  .sidenav a:hover {
    color: #984118;
  }

  .main {
    display: flex;
    flex-direction: column;
    margin-left: 381px; 
    padding-top: 200px;
    padding-left: 100px;
    padding-right: 250px;
  }
  .main-head {
    display: flex;
    position: fixed;
    width: 100%;
    z-index: -1;
  }
  .social-media {
    display: flex;
    position: fixed;
    width: 100%;
    z-index: -1;
  }
  .jackets {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .jacket {
    flex: 1 0 600px;
  }
  .jacket-image{
    height: 250px;
    width: 150px;
    object-fit: cover;
  }


  @media screen and (min-width: 900px) {
.jackets {
  flex-direction: row;
}

  }

/* save for later
  .button {
    width: 100%;
    background-color: #984018; 
    border: none;
    color: #FCFCFC;
    width: 210px;
    margin: 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: 'Open Sans', 'Banshrift';
    font-size: 35px;
    font-weight: bold;
    z-index: 1;
  }
  .choices { 
    display: flex;
    margin-left: 381px; 
    padding-top: 200px;
    padding-left: 180px;
    text-decoration: none;
  }
  .choices a {
    color: #E1E8F2;
    text-decoration: none;
}
  .choices a:hover {
    color: #ffffff;
    text-decoration: none;
}
*/

  .shoppingcart {
    display: flex;
    flex: auto;
    margin-top: auto;
    margin-right: 150px;
    padding-top: 80px;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    width: 55px;
  }
  .topnav input[type=text] {
    display: flex;
    padding: 9px;
    margin-top: 8px;
    font-size: 19px;
    border: none;
  }
  .searchbar {
    display: flex;
    margin-right: 230px;
    padding-top: 80px;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    text-align: left;
  }

